@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --btn-success: #28a745;
    --color-links: #2188ff;
    --font-primary: 'Open Sans', sans-serif;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-primary);
}

.logo-row{
    margin-bottom: 2em;
    padding-top: 2em;
}

h5{
    text-align: center;
    font-family: var(--font-primary);
    margin-bottom: 1rem;
}

#passwordHelp a{
    color: var(--color-links);
}

.form-label{
    font-size: 0.9rem;
    font-weight: bold;
}

.new-registry{
    margin-top: 1rem;
}

a {
    text-decoration: none
}

p{
    font-size: 0.9rem;
    margin:0;
}

button{
    background-color: rgb( 206,32,38) !important;
  }
  
