<!-- formulario.component.html -->
<section id="wrapper" class="">
  <div>

    <form class="form-horizontal form-material"
    id=""
    autocomplete="off"
    [formGroup]="formEnglish"
    (ngSubmit)="createFormEn()">

<div class="container" >

  <div class="row">
    <div class="col-md-12">
      <div class="center">
         <!-- Logo -->
         <a href="javascript:void(0)">
          <img src="./../../../assets/images/logos/logoPNG.png" alt="Logo" width="250" height="250"
          class="img-fluid">
        </a> 
      </div>
    </div>
    <div class="progress mb-3">
      <div class="progress-bar" role="progressbar" [style.width.%]="((currentSection - 1) / 2) * 100"></div>
    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-6">

      <!-- Sección 1 -->
      <div  *ngIf="currentSection === 1" formGroupName="section1">
        <h2>Section 1</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label>Name:</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label>Spouse Name:</label>
              <input type="text" class="form-control" formControlName="spouse_name">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label>Phone:</label>
              <input type="tel" class="form-control" formControlName="phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label>Phone 2:</label>
              <input type="tel" class="form-control" formControlName="phone2">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label>Mail</label>
              <input type="email" class="form-control" formControlName="mail">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label>Mail 2</label>
              <input type="email" class="form-control" formControlName="mail2">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label>Current Address:</label>
              <input type="text" class="form-control" formControlName="address">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label class="me-3">Filing status:</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <!-- Checkboxes con label en una fila -->
            <div class="mb-3 d-flex align-items-center">
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="filing_status" value="single">
                <label class="form-check-label">Single</label>
              </div>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="filing_status"
                value="married_filing_joint">
                <label class="form-check-label">Marriend Filing Joint</label>
              </div>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="filing_status"
                value="head_of_househol">
                <label class="form-check-label">Head of Household</label>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-check">
              <input type="radio" class="form-check-input" formControlName="filing_status"
              value="married_filing_separate">
              <label class="form-check-label" >Married filing Separate</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <!-- radioes con label en una fila -->
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Are you being claimed as a dependent on someone else's return?</label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question2"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question2"
                value="No">
                <label class="form-check-label">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Are you claiming any dependents? </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question3"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question3"
                value="No">
                <label class="form-check-label" >No</label>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3 d-flex align-items-center" >
            <label>If yes, How many?:</label>
            <input type="text" class="form-control" formControlName="extraData_question3">
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label>Please detail full name, SSN, DOB, and relationship for any new dependents:</label>
              <input type="text" class="form-control" formControlName="description"
              >
            </div>

          </div>
        </div>

      </div>

      <!-- Sección 2 -->
      <div *ngIf="currentSection === 2" formGroupName="section2">
        <h2>Section 2</h2>
     
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did any member of your tax family have insurance through Marketplace/Obamacare (e.g., Oscar,
                Florida Blue, Bright Health, Ambetter, Cigna, etc.)?</label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question4"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question4"
                value="No">
                <label class="form-check-label">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">If applicable, have you received all W-2's from all employers? </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question5"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question5"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3 d-flex align-items-center" >
            <label>If yes, How many?:</label>
            <input type="text" class="form-control" formControlName="extraData_question5">
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse receive social security benefits or retirement/pensions distributions during
                the year (e.g., 401k, IRA, SSI, etc.)?  </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question6"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question6"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Were you or your spouse self-employed or business owner during the past year (including any
                1099, Uber, Lyft, DoorDash, etc.)</label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question7"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question7"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse have stocks/cryptocurrency transactions during the past year?</label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question8"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question8"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse have rental income from a property during the past year? </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question9"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question9"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse pay any tuition costs or student loan interest?  </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question10"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question10"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you purchase or sell your principal home during the past year?   </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input"formControlName="question11"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question11"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse live or work in a different state from FL over the past year?  </label>
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" formControlName="question12"
                value="Yes">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" formControlName="question12"
                value="No">
                <label class="form-check-label">No</label>
              </div>
          </div>
          </div>
        </div>


        <!-- Agrega más campos según sea necesario -->
      </div>

      <!-- Sección 3 -->
      <div *ngIf="currentSection === 3" formGroupName="section3">
        <h2>Section 3</h2>
        <div class="row">
          <div class="col-md-12">
            <label class="me-3">Please select if any of the following applies to you or your spouse:</label>
          </div>
        </div>
      <div class="row">
                <div class="col-md-12">
                    <!-- Checkboxes con label en una fila -->
                  <div class="mb-3 d-flex align-items-center">
                    <div class="form-check me-3">
                      <input type="checkbox" class="form-check-input" formControlName="Identity_Protection_PIN"
                      value='Identity Protection PIN'>
                      <label class="form-check-label">Identity Protection PIN</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" formControlName="Solar_panels"
                      value='Solar panels'>
                      <label class="form-check-label">Solar panels</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" formControlName="Unemployment"
                    value='Unemployment'>
                    <label class="form-check-label">Unemployment</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" formControlName="Daycare_dependent_care"
                    value='Daycare/dependent care'>
                    <label class="form-check-label" >Daycare/dependent care</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label class="me-3"> Please provide bank information for refund direct deposit or payment direct withdrawal:</label>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" formControlName="question13"
                      value="checking">
                      <label class="form-check-label">Checking</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input type="radio" class="form-check-input" formControlName="question13"
                      value="savings">
                      <label class="form-check-label">Savings</label>
                    </div>
                  </div>          
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label>Bank Routing:</label>
                      <input type="text" class="form-control" formControlName="bank_routing">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label>Bank Account:</label>
                      <input type="text" class="form-control" formControlName="bank_account">
                    </div>
                  </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="checkbox checkbox-primary p-t-0">
                    <input type="checkbox" formControlName="terms">
                    <label>I agree to all <a href="#">Terms</a></label>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col text-danger">
                  <p *ngIf="campoNoValido('name')">Name is mandatory</p>
                  <p *ngIf="aceptaTerminos()">Terms should be accepted</p>

                </div>
              </div>

              <div class="text-center mt-2">
                 <!-- Botón de enviar formulario -->
                <button class="btn btn-success text-align-center" (click)="createFormEn()"
                [disabled]="envioEnProgreso">Enviar Formulario</button>
              </div>
      </div>

        <!-- Botones de navegación -->
        <div class="mb-2 d-flex justify-content-between">
          <button class="btn btn-secondary" (click)="prevSection()">Anterior</button>
          <button class="btn btn-primary" (click)="nextSection()">Siguiente</button>
        </div>


    </div>
  </div>
</div>
  
  </form>
  </div>
</section>

