<!-- formulario.component.html -->
<section id="wrapper" class="">
  <div>
    <form class="form-horizontal form-material"
    id=""
    (ngSubmit)="createFormEn">

    
<div class="container" >

  <div class="row">
    <div class="col-md-12">
      <div class="center">
         <!-- Logo -->
           <img src="./../../../assets/images/logos/logoPNG.png" alt="Logo" width="250" height="250"
            class="img-fluid">
      </div>

    </div>
  </div>

  <div class="row justify-content-center">

    <div class="col-md-6">
      <!-- Slider -->
      <div class="mb-3">
        <label for="slider" class="form-label">Selecciona la sección:</label>
        <input type="range" class="form-range" id="slider" name="slider" min="1" max="3" step="1" [(ngModel)]="seccionActual">
        <output class="mt-3">Sección actual: {{ seccionActual }}</output>
      </div>

      <!-- Sección 1 -->
      <div *ngIf="seccionActual === 1">
        <h2>Sección 1</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="nombre">Name:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="apellido">Spouse Name:</label>
              <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="spouse_name">
            </div>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="phone">Phone:</label>
              <input type="tel" class="form-control" id="telefono" name="phone" [(ngModel)]="phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="phone2">Phone 2:</label>
              <input type="tel" class="form-control" id="phone2" name="phone2" [(ngModel)]="phone2">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="mail">Mail</label>
              <input type="email" class="form-control" id="mail" name="mail" [(ngModel)]="mail">
            </div>
          </div>
          <div class="col-md-6">
            <div class="mb-3">
              <label for="mail2">Mail 2</label>
              <input type="email" class="form-control" id="mail2" name="mail2" [(ngModel)]="mail2">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="address">Current Address:</label>
              <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <label class="me-3">Filing status:</label>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <!-- Checkboxes con label en una fila -->
            <div class="mb-3 d-flex align-items-center">
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="opcion1" name="single" [(ngModel)]="single">
                <label class="form-check-label" for="single">Single</label>
              </div>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="married_filing_joint" name="married_filing_joint" [(ngModel)]="married_filing_joint">
                <label class="form-check-label" for="married_filing_joint">Marriend Filing Joint</label>
              </div>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="head_of_household" name="head_of_household" [(ngModel)]="head_of_household">
                <label class="form-check-label" for="head_of_household">Head of Household</label>
              </div>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="married_filing_separate" name="married_filing_separate" [(ngModel)]="married_filing_separate">
              <label class="form-check-label" for="married_filing_separate">Married filing Separate</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
              <!-- Checkboxes con label en una fila -->
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Are you being claimed as a dependent on someone else's return?</label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option1" name="option1" [(ngModel)]="option1">
                <label class="form-check-label" for="option1">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option2" name="option2" [(ngModel)]="option2">
                <label class="form-check-label" for="option2">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Are you claiming any dependents? </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option3" name="option3" [(ngModel)]="option3">
                <label class="form-check-label" for="option3">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option4" name="option4" [(ngModel)]="option4">
                <label class="form-check-label" for="option4">No</label>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3 d-flex align-items-center" >
            <label for="option5">If yes, How many?:</label>
            <input type="text" class="form-control" id="option5" name="option5" [(ngModel)]="option5">
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="apellido">Please detail full name, SSN, DOB, and relationship for any new dependents:</label>
              <input type="text" class="form-control" id="description" name="description" [(ngModel)]="description">
            </div>

          </div>
        </div>

      </div>

      <!-- Sección 2 -->
      <div *ngIf="seccionActual === 2">
        <h2>Sección 2</h2>

        
        
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did any member of your tax family have insurance through Marketplace/Obamacare (e.g., Oscar,
                Florida Blue, Bright Health, Ambetter, Cigna, etc.)?</label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option6" name="option6" [(ngModel)]="option6">
                <label class="form-check-label" for="option6">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option7" name="option7" [(ngModel)]="option7">
                <label class="form-check-label" for="option7">No</label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">If applicable, have you received all W-2's from all employers? </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option8" name="option8" [(ngModel)]="option8">
                <label class="form-check-label" for="option8">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option9" name="option9" [(ngModel)]="option9">
                <label class="form-check-label" for="option9">No</label>
              </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="mb-3 d-flex align-items-center" >
            <label for="option10">If yes, How many?:</label>
            <input type="text" class="form-control" id="option10" name="option10" [(ngModel)]="option10">
          </div>
        </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse receive social security benefits or retirement/pensions distributions during
                the year (e.g., 401k, IRA, SSI, etc.)?  </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option11" name="option11" [(ngModel)]="option11">
                <label class="form-check-label" for="option11">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option12" name="option12" [(ngModel)]="option12">
                <label class="form-check-label" for="option12">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Were you or your spouse self-employed or business owner during the past year (including any
                1099, Uber, Lyft, DoorDash, etc.)</label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option13" name="option13" [(ngModel)]="option13">
                <label class="form-check-label" for="option13">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option14" name="option14" [(ngModel)]="option14">
                <label class="form-check-label" for="option14">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse have stocks/cryptocurrency transactions during the past year?</label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option15" name="option15" [(ngModel)]="option15">
                <label class="form-check-label" for="option15">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option16" name="option16" [(ngModel)]="option16">
                <label class="form-check-label" for="option16">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse have rental income from a property during the past year? </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option17" name="option17" [(ngModel)]="option17">
                <label class="form-check-label" for="option17">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option18" name="option18" [(ngModel)]="option18">
                <label class="form-check-label" for="option18">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse pay any tuition costs or student loan interest?  </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option19" name="option19" [(ngModel)]="option19">
                <label class="form-check-label" for="option19">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option20" name="option20" [(ngModel)]="option20">
                <label class="form-check-label" for="option20">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you purchase or sell your principal home during the past year?   </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option21" name="option21" [(ngModel)]="option21">
                <label class="form-check-label" for="option21">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option22" name="option22" [(ngModel)]="option22">
                <label class="form-check-label" for="option22">No</label>
              </div>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mb-3 d-flex align-items-center">
              <label class="me-3">Did you or your spouse live or work in a different state from FL over the past year?  </label>
              <div class="form-check me-3">
                <input type="checkbox" class="form-check-input" id="option23" name="option23" [(ngModel)]="option23">
                <label class="form-check-label" for="option23">Yes</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="option24" name="option24" [(ngModel)]="option24">
                <label class="form-check-label" for="option24">No</label>
              </div>
          </div>
          </div>
        </div>


        <!-- Agrega más campos según sea necesario -->
      </div>

      <!-- Sección 3 -->
      <div *ngIf="seccionActual === 3">
        <h2>Sección 3</h2>
        <div class="row">
          <div class="col-md-12">
            <label class="me-3">Please select if any of the following applies to you or your spouse:</label>
          </div>
        </div>
      <div class="row">
                <div class="col-md-12">
                    <!-- Checkboxes con label en una fila -->
                  <div class="mb-3 d-flex align-items-center">
                    <div class="form-check me-3">
                      <input type="checkbox" class="form-check-input" id="option25" name="option25" [(ngModel)]="option25">
                      <label class="form-check-label" for="option25">Identity Protection PIN</label>
                    </div>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="option27" name="option27" [(ngModel)]="option27">
                      <label class="form-check-label" for="option27">Solar panels</label>
                    </div>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="option26" name="option26" [(ngModel)]="option26">
                    <label class="form-check-label" for="option26">Unemployment</label>
                  </div>
                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="option28" name="option28" [(ngModel)]="option28">
                    <label class="form-check-label" for="option28">Daycare/dependent care</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <label class="me-3"> Please provide bank information for refund direct deposit or payment direct withdrawal:</label>
                </div>
              </div>

              <div class="row">
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="option29" name="option29" [(ngModel)]="option29">
                      <label class="form-check-label" for="option29">Checking</label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <br>
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="option30" name="option30" [(ngModel)]="option30">
                      <label class="form-check-label" for="option30">Savings</label>
                    </div>
                  </div>          
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="bankRouting">Bank Routing:</label>
                      <input type="text" class="form-control" id="bankRouting" name="bankRouting" [(ngModel)]="bankRouting">
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="mb-3">
                      <label for="bankAccount">Bank Account:</label>
                      <input type="text" class="form-control" id="bankAccount" name="bankAccount" [(ngModel)]="bankAccount">
                    </div>
                  </div>
              </div>

              <div class="text-center">
                 <!-- Botón de enviar formulario -->
                <button class="btn btn-success text-align-center" (click)="enviarFormulario()">Enviar Formulario</button>
              </div>
      </div>

        <!-- Botones de navegación -->
        <div class="mb-2 d-flex justify-content-between">
          <button class="btn btn-secondary" (click)="anteriorSeccion()">Anterior</button>
          <button class="btn btn-primary" (click)="siguienteSeccion()">Siguiente</button>
        </div>


    </div>
  </div>
</div>
  
  
  </form>


  </div>

</section>

