<div class="card">
    <div class="card-body">
        <h4 class="card-title">About 809 Tax</h4>
        <h5 class="card-subtitle text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi aliquid labore voluptatum libero sapiente minus molestiae illum vitae? Quo pariatur asperiores doloremque. Modi aperiam temporibus soluta sunt. Iure delectus similique, voluptate ratione accusamus incidunt quas magnam mollitia nobis blanditiis nisi sed fuga dolor harum possimus laudantium provident. Necessitatibus, obcaecati alias!</h5>
        <div class="my-4">
            <img src="#" class="img-fluid" alt="xtreme-ang" />
        </div>        
    </div>
</div>