<div class="container mt-5">
    <h1>Detalle</h1>

    <div class="row">
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre completo:</label>
            <input type="text" class="form-control" id="nombre" readonly value="{{form.nombre}}">
        </div>
        <div class="col-md-6">
            <label for="nombre_del_esposo" class="form-label">Nombre del esposo/a:</label>
            <input type="text" class="form-control" id="nombre_del_esposo" readonly value="{{form.nombre_del_esposo}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="telefono" class="form-label">Número de teléfono:</label>
            <input type="text" class="form-control" id="telefono" readonly value="{{form.telefono}}">
        </div>
        <div class="col-md-6">
            <label for="telefono2" class="form-label">Número de teléfono del esposo/a:</label>
            <input type="text" class="form-control" id="telefono2" readonly value="{{form.telefono2}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="mail" class="form-label">Email:</label>
            <input type="text" class="form-control" id="mail" readonly value="{{form.mail}}">
        </div>
        <div class="col-md-6">
            <label for="mail2" class="form-label">
                Email del esposo/a:</label>
            <input type="text" class="form-control" id="mail2" readonly value="{{form.mail2}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="direccion" class="form-label">Dirección:</label>
            <input type="text" class="form-control" id="direccion" readonly value="{{form.direccion}}">
        </div>
        <div class="col-md-6">
            <label for="estado_civil_tributario" class="form-label">Estado Civil Tributario:</label>
            <input type="text" class="form-control" id="estado_civil_tributario" readonly value="{{form.estado_civil_tributario}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="pregunta2" class="form-label texto-pequeno">¿Está siendo o será reclamado como dependiente en la declaración de otra persona?:</label>
            <input type="text" class="form-control" id="pregunta2" readonly value="{{form.pregunta2}}">
        </div>
        <div class="col-md-4">
            <label for="pregunta3" class="form-label">¿Reclamará a algún dependiente?:</label>
            <input type="text" class="form-control" id="pregunta3" readonly value="{{form.pregunta3}}">
        </div>
        <div class="col-md-2">
            <label for="extraInfo_pregunta3" class="form-label">De ser Sí, ¿cuántos?:</label>
            <input type="text" class="form-control" id="extraInfo_pregunta3" readonly value="{{form.extraInfo_pregunta3}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="descripcion" class="form-label">Por favor indique nombre completo, fecha de nacimiento y parentesco para cualquier dependiente nuevo:</label>
            <input type="text" class="form-control" id="descripcion" readonly value="{{form.descripcion}}">
        </div>

        <div class="col-md-6">
            <label for="pregunta12" class="form-label">¿Usted o su esposo/a vivieron o trabajaron en un estado diferente a FL el año pasado?</label>
            <input type="text" class="form-control" id="pregunta12" readonly value="{{form.pregunta12}}">
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="pregunta4" class="form-label">¿Algún miembro de su familia fiscal tuvo seguro a través de Marketplace/Obamacare? (ej. Oscar, Florida Blue, Bright Health, Ambetter, Cigna, etc.)?</label>
            <input type="text" class="form-control" id="pregunta4" readonly value="{{form.pregunta4}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="pregunta5" class="form-label">Si aplica, ¿Ha recibido todas las W-2 de todos sus empleadores?:</label>
            <input type="text" class="form-control" id="pregunta5" readonly value="{{form.pregunta5}}">
        </div>
        <div class="col-md-6">
            <label for="extraInfo_pregunta5" class="form-label">De ser Sí, ¿cuántas?:</label>
            <input type="text" class="form-control" id="extraInfo_pregunta5" readonly value="{{form.extraInfo_pregunta5}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="pregunta6" class="form-label">¿Recibió usted o su esposo/a beneficios del seguro social o distribuciones de retiros/pensiones durante el año pasado (ej. 401k, IRA, SSI, etc.)?</label>
            <input type="text" class="form-control" id="pregunta6" readonly value="{{form.pregunta6}}">
        </div>
        <div class="col-md-6">
            <label for="pregunta7" class="form-label">¿Fue usted o su esposo/a trabajador independiente o dueño de negocio durante el año pasado (incluyendo cualquier 1099, Uber, Lyft, DoorDash, etc.)?</label>
            <input type="text" class="form-control" id="pregunta7" readonly value="{{form.pregunta7}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="pregunta8" class="form-label">¿Tuvo usted o su esposo/a transacciones de acciones/criptomonedas el año pasado?</label>
            <input type="text" class="form-control" id="pregunta8" readonly value="{{form.pregunta8}}">
        </div>
        <div class="col-md-6">
            <label for="pregunta9" class="form-label">¿Tuvo usted o su esposo/a algún ingreso por renta de una propiedad el año pasado?</label>
            <input type="text" class="form-control" id="pregunta9" readonly value="{{form.pregunta9}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="pregunta10" class="form-label texto-pequeno">¿Tuvo alguien de su familia fiscal algún costo de universidad o préstamo estudiantil?</label>
            <input type="text" class="form-control" id="pregunta10" readonly value="{{form.pregunta10}}">
        </div>
        <div class="col-md-6">
            <label for="pregunta11" class="form-label">¿Compró o vendió su casa principal el año pasado?
            </label>
            <input type="text" class="form-control" id="pregunta11" readonly value="{{form.pregunta11}}">
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <label for="pregunta13" class="form-label">Por favor proporcione su información bancaria para el depósito o retiro directo:</label>
            <input type="text" class="form-control" id="pregunta13" readonly value="{{form.pregunta13}}">
        </div>
        <div class="col-md-6">
            <label for="ruta_bancaria" class="form-label">Ruta Bancaria</label>
            <input type="text" class="form-control" id="ruta_bancaria" readonly value="{{form.ruta_bancaria}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="ruta_bancaria" class="form-label">Cuenta Bancaria</label>
            <input type="text" class="form-control" id="ruta_bancaria" readonly value="{{form.ruta_bancaria}}">
        </div>
        <div class="col-md-6">
            <label for="pin_de_Proteccion_de_Identidad" class="form-label">PIN de Protección de Identidad</label>
            <input type="text" class="form-control" id="pin_de_Proteccion_de_Identidad" [value]="form.pin_de_Proteccion_de_Identidad === 'pin_de_Proteccion_de_Identidad' ? 'Yes' : 'No'" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="paneles_Solares" class="form-label">Paneles Solares</label>
            <input type="text" class="form-control" [value]="form.paneles_Solares === 'paneles_Solares' ? 'Yes' : 'No'" readonly>
        </div>
        <div class="col-md-6">
            <label for="desempleo" class="form-label">Desempleo</label>
            <input type="text" class="form-control" id="desempleo" [value]="form.desempleo === 'desempleo' ? 'Yes' : 'No'" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="guarderia_cuidado_de_dependiente" class="form-label">Guardería/Cuidado de dependiente</label>
            <input type="text" class="form-control" id="guarderia_cuidado_de_dependiente" [value]="form.guarderia_cuidado_de_dependiente === 'guarderia_cuidado_de_dependiente' ? 'Yes' : 'No'" readonly>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
                <label for="nota" class="form-label">Nota</label>
                <textarea class="form-control" id="nota" rows="3" readonly value="{{form.nota}}"></textarea>
        </div>
    </div>

    <!-- Más campos (en pantallas grandes) -->
    <div class="row">
        
       <!-- Input para la nota -->
       <label for="nota">Nota:</label>
       <input type="text" 
       class="form-control"
       id="nota" [(ngModel)]="nota" placeholder="Agrega una nota">

       <!-- Botón para guardar la nota -->
       <button class="btn btn-success mt-2" (click)="guardarNota()">Guardar Nota</button>
  
    </div>
  
    <button class="btn btn-primary mt-3" (click)="regresar()">Regresar</button>

  </div>