<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>809TAX</title>
            
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
    
    </head>
    <body>
        <!-- header section -->
        <header>
            <nav class="navbar navbar-expand-md navbar-dark">
                <div class="container-fluid">
                  <a class="navbar-brand d-md-none" href="#">
                    <img src="./../../../assets/images/logos/logoPNG_small.png" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerlink="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://www.809tax.com/copy-of-resources">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://www.809tax.com/services">Services</a>
                      </li>
                      <a class="navbar-brand d-none d-md-block" href="#">
                        <img src="./../../../assets/images/logos/logoPNG_small.png" alt="">
                      </a>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/form">English Form</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/form-es">Spanish Form</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="https://www.809tax.com/contact-us">Contact</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
              
        </header>
        <!-- end of header section -->

        <!-- main section -->
        <main>

             <!-- ======= forms Section ======= -->
            <section id="forms" class="forms">
                <div class="container my-5">
                    <div class="section-title mb-5 text-center">

                        <h2>Forms</h2>
                        <hr class="style-two">
                    </div>
            
                    <div class="row">
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="course-item">
                                <img src="./../../../assets/images/form2.png"  class="img-fluid" alt="...">
                                <div class="course-content">
                                    <h3 class="text-center">English Form</h3>
                                </div>
                                <div class="container mb-3 container-mb-3">
                                    <button class =" btn btn-outline-primary text-light text-center"
                                    routerLink="/form" >Redirect</button>
                                </div>
                            </div>
                        </div> <!-- End Program Item-->
            
                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                            <div class="course-item">
                                <img src="./../../../assets/images/form2.png" class="img-fluid" alt="...">
                                <div class="course-content">
                                    <h3 class="text-center">Spanish Form</h3>
                                </div>
                                <div class="container mb-3 container-mb-3">
                                    <button class =" btn btn-outline-primary text-light text-center " 
                                    routerLink="/form-es">Redirect</button>
                                </div>
                            </div>
                        </div> <!-- End Program Item-->          
                    </div>        
                </div>
            </section>
            <!-- End Program Section -->

                    <!-- footer section -->
        <footer>
            <div class="container" id = "contact">
                <div class="row justify-content-around py-3">
                    <h3 class="text-center">Contact</h3>
                    <hr>
                    <!-- contact details for the institute -->
                    <div class="col-md-6">
                        <div class="widget clearfix">
                            <div class="widget-title pb-2">
                                
                            </div>
                                <div class="info">
                                    <div class="address">
                                        <h5><i class="fas fa-map-marker-alt mr-2"></i> VISIT US :</h5>
                                        <p>7 Ruby Avenue,Kissimmee, FL 34741</p>
                                    </div>
                        
                                    <div class="email">
                                        <h5><i class="fas fa-envelope mr-2"></i> Email :</h5>
                                        <p>809tax@gmail.com</p>
                                    </div>
                        
                             
                    
                                </div>
        
                            <!-- important links -->
                            <div class="footer-right">
                                <ul class="footer-links-soi">
                                    <li><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="phone">
                            <h5><i class="fas fa-phone-alt mr-2"></i> Call US:</h5>
                            <p>407-201-6343</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end of footer section -->


         </main>
        <!-- end of main section-->


  
    </body>
</html>