<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="fs-6 d-flex align-items-center justify-content-center">
                        <i class="success"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">Form english register</h3>
                        <small class="text-muted fs-3 text-center">{{totalRegister}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="fs-6 d-flex align-items-center justify-content-center">
                        <i class="success"></i>
                    </div>
                    <div class="ms-3">
                        <h3 class="mb-0 font-weight-bold">Form Spanish register</h3>
                        <small class="text-muted fs-3 text-center">{{totalRegister}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>