<div class="container mt-5">
    <h1>Details</h1>

    <div class="row">
        <div class="col-md-6">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" readonly value="{{form.name}}">
        </div>
        <div class="col-md-6">
            <label for="spouse_name" class="form-label">Spouse Name:</label>
            <input type="text" class="form-control" id="spouse_name" readonly value="{{form.spouse_name}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="phone" class="form-label">Phone:</label>
            <input type="text" class="form-control" id="phone" readonly value="{{form.phone}}">
        </div>
        <div class="col-md-6">
            <label for="phone2" class="form-label">Spouse Phone:</label>
            <input type="text" class="form-control" id="phone2" readonly value="{{form.phone2}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="mail" class="form-label">Email:</label>
            <input type="text" class="form-control" id="mail" readonly value="{{form.mail}}">
        </div>
        <div class="col-md-6">
            <label for="mail2" class="form-label">Spouse Email:</label>
            <input type="text" class="form-control" id="mail2" readonly value="{{form.mail2}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="address" class="form-label">Current Address:</label>
            <input type="text" class="form-control" id="address" readonly value="{{form.address}}">
        </div>
        <div class="col-md-6">
            <label for="filing_status" class="form-label">Filing Status:</label>
            <input type="text" class="form-control" id="filing_status" readonly value="{{form.filing_status}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question2" class="form-label">Are you being claimed as a dependent on someone else's return?:</label>
            <input type="text" class="form-control" id="question2" readonly value="{{form.question2}}">
        </div>
        <div class="col-md-4">
            <label for="question3" class="form-label">Are you claiming any dependents?:</label>
            <input type="text" class="form-control" id="question3" readonly value="{{form.question3}}">
        </div>
        <div class="col-md-2">
            <label for="extraData_question3" class="form-label">If yes, How many?:</label>
            <input type="text" class="form-control" id="extraData_question3" readonly value="{{form.extraData_question3}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="question3" class="form-label">Please detail full name, date of birth and relationship for any new dependents:</label>
            <input type="text" class="form-control" id="question3" readonly value="{{form.description}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="question4" class="form-label">Did any member of your tax family have insurance through Marketplace/Obamacare (e.g., Oscar, Florida Blue, Bright Health, Ambetter, Cigna, etc.)?</label>
            <input type="text" class="form-control" id="question4" readonly value="{{form.question4}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question5" class="form-label">If applicable, have you received all W-2's from all employers?:</label>
            <input type="text" class="form-control" id="question5" readonly value="{{form.question5}}">
        </div>
        <div class="col-md-6">
            <label for="extraData_question5" class="form-label">If yes, How many?:</label>
            <input type="text" class="form-control" id="extraData_question5" readonly value="{{form.extraData_question5}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question6" class="form-label">Did you or your spouse receive social security benefits or retirement/pensions distributions during the year (e.g., 401k, IRA, SSI, etc.)?</label>
            <input type="text" class="form-control" id="question6" readonly value="{{form.question6}}">
        </div>
        <div class="col-md-6">
            <label for="question7" class="form-label">Were you or your spouse self-employed or business owner during the past year (including any 1099, Uber, Lyft, DoorDash, etc.):</label>
            <input type="text" class="form-control" id="question7" readonly value="{{form.question7}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question8" class="form-label texto-pequeno">Did you or your spouse have stocks/cryptocurrency transactions during the past year?</label>
            <input type="text" class="form-control" id="question8" readonly value="{{form.question8}}">
        </div>
        <div class="col-md-6">
            <label for="question9" class="form-label">Did you or your spouse have rental income from a property during the past year?</label>
            <input type="text" class="form-control" id="question9" readonly value="{{form.question9}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question10" class="form-label">Did you or your spouse pay any tuition costs or student loan interest?</label>
            <input type="text" class="form-control" id="question10" readonly value="{{form.question10}}">
        </div>
        <div class="col-md-6">
            <label for="question11" class="form-label">Did you purchase or sell your principal home during the past year?</label>
            <input type="text" class="form-control" id="question11" readonly value="{{form.question11}}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question10" class="form-label">Did you or your spouse live or work in a different state from FL over the past year?</label>
            <input type="text" class="form-control" id="question10" readonly value="{{form.question12}}">
        </div>
      
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="question13" class="form-label texto-pequeno">Please provide bank information for refund direct deposit or payment direct withdrawal:</label>
            <input type="text" class="form-control" id="question13" readonly value="{{form.question13}}">
        </div>
        <div class="col-md-6">
            <label for="bank_routing" class="form-label">Bank Routing</label>
            <input type="text" class="form-control" id="bank_routing" readonly value="{{form.bank_routing}}">
        </div>
    </div>

    <div class="row">
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="bank_account" class="form-label">Bank Account:</label>
            <input type="text" class="form-control" id="bank_account" readonly value="{{form.bank_account}}">
        </div>
        <div class="col-md-6">
            <label for="identity_protection_pin" class="form-label">Identity protection pin</label>
            <input type="text" class="form-control" id="identity_protection_pin" [value]="form.identity_protection_pin === 'identity_protection_pin' ? 'Yes' : 'No'" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="solar_panels" class="form-label">Solar Panels</label>
            <input type="text" class="form-control" id="solar_panels" [value]="form.solar_panels === 'solar_panels' ? 'Yes' : 'No'" readonly>
        </div>
        <div class="col-md-6">
            <label for="unemployment" class="form-label">Unemployment</label>
            <input type="text" class="form-control" id="unemployment" [value]="form.unemployment === 'unemployment' ? 'Yes' : 'No'" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <label for="daycare_dependent_care" class="form-label">Daycare dependent care</label>
            <input type="text" class="form-control" id="daycare_dependent_care" [value]="form.daycare_dependent_care === 'daycare_dependent_care' ? 'Yes' : 'No'" readonly>
        </div>
      
    </div>
    <div class="row">
        <div class="col-md-12">
            <label for="nota" class="form-label">Nota</label>
            <textarea class="form-control" id="nota" rows="3" readonly value="{{form.nota}}"></textarea>
        </div>
    </div>

    <!-- Más campos (en pantallas grandes) -->
    <div class="row">
       <!-- Input para la nota -->
       <label for="nota">Nota:</label>
       
       <input type="text" id="nota"
       class="form-control"
       [(ngModel)]="nota" placeholder="Agrega una nota">

       <!-- Botón para guardar la nota -->
       <button class="btn btn-success mt-2" (click)="guardarNota()">Guardar Nota</button>
  
    </div>
  
    <!-- Más campos (en pantallas más pequeñas) -->
    <div class="d-md-none">
      <p><strong>Bank Routing:</strong> {{ form?.bank_routing }}</p>
      <p><strong>Bank Account:</strong> {{ form?.bank_account }}</p>
      <!-- Otros campos según tu modelo de datos -->
    </div>
    <button class="btn btn-primary mt-3" (click)="regresar()">Regresar</button>

  </div>